body
{ margin: 0; padding: 0; 
	background-image: url(./img/bg2.jpg); 
	background-size: cover; font-family: sans-serif; background-repeat: no-repeat; } 
	.navbar{ height: 4em; width: 100%; text-align: center; background-color: black; font-size: 23px; float: left; } 
	.links a{ text-decoration: none; color: white; } 
	.links{ padding-top: 27px; word-spacing: 15px; } 
	.flex-container{ width: 100%; display: flex; flex-direction: row; }
	 .box1,.box2,.box3{ height: 280px; width: 28%; margin-left: 50px; text-align: center; margin-top: 20px; color: white; border-radius: 5px; background: rgba(0, 0, 0, .3); }
	  footer{ width: 100%; height: 7em; margin-top: 50px; }
	   .foot{ background: rgba(0, 0, 0, .3); color: white; text-align: center; font-size: 20px; }
	   .foot p{ margin: 0; } 
	   .abtus{ background-color: black; border: none; color: white; font-size:23px ; }
	    select:hover{ background-color:black ; font-size: 23px; } 
	    .box1 h3,.box2 h3,.box3 h3{ font-size: 29px; }
	     @media screen and (max-width:811px){ .flex-container{ flex-direction: column; }
	      .box1,.box2,.box3{ width: 80%; margin-bottom: 20px; } }